@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* HEADER */
#header {
    display: flex;
    padding: 3rem;
    gap: 15px;
    align-items: center;
    background-image: url(/img/JamesWebb/img01.jpeg);
    color: aliceblue;
}

#header span {
    color: rgba(255, 255, 0, 0.788);
}

#header img {
    width: 70px;
}
/* HEADER_END */

/* PLANETAS */
#planets nav {
    display: flex;
    padding-left: 65em;
    width: 100%;
    
}

#planets ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
/* PLANETAS-END*/

/* LINKS */
a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    color: purple;
    background-color: rgba(255, 255, 255, 0.799);
    box-shadow: 3px 2px 2px 2px rgba(255, 255, 255, 0.471);
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}
/* LINKS-END */